img {
  height: auto;
  max-width: 100%;
}
p.about {
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

body {
  background-color: #afc1b7;
}

.well {
  border: 1px hidden #2b333e;
}

h1 {
  text-align: center;
  font-family: "Helvetica", Helvetica, sans-serif;
}

h3 {
  text-align: center;
  text-decoration: underline;
}

.links p {
  font-style: italic;
}

.links {
  padding-top: 12px;
}

.container {
  padding-top: 20px;
}

.highlight {
  background-color: yellow;
}
