img {
  height: auto;
  max-width: 100%;
}
p.about {
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

p.linktext {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.linktext a {
  font-weight: bold;
}

body {
  background-color: #DBE6E0;
}

.well {
  border: 1px hidden #2b333e;
}

h1 {
  text-align: center;
  font-family: "Helvetica", Helvetica, sans-serif;
}

h3 {
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
  font-family: "helvetica", helvetica, sans-serif;
}

.links p {
  font-style: italic;
}

.links {
  padding-top: 12px;
}

.container {
  padding-top: 20px;
}

.bold {
  font-weight: bold;
}

.title {
  background-image: url(http://www.x8ing.com/resources/iceland_myrdalssandur.jpg);
  border-bottom: 20px solid black;
}

ol {
  text-align: center;
}

.oklahoma {
  float: none;
}

.contact {
  padding-top: 40px;
}
